



/*** Large Screens **/
@media only screen 
and (min-width : 1824px) {	

#home .texto_bajada_index{
	font-size: ;
	line-height:;
}
@media screen and (max-width : 768px) {	

.skyline_right_3_de_3x{
    display: none;
}

